<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.xiaonuo.inspection.modular.voiceRecord.mapper.InsuVoiceRecordMapper">
    <!-- 查询最大 INSU_VOICE_ID -->
    <select id="selectMaxInsuVoiceId" resultType="Integer">
        SELECT MAX(INSU_VOICE_ID)
        FROM insu_voice_record
    </select>

    <!-- 更新 IS_QUERY 字段为 1 -->
    <update id="updateIsQueryByInsuVoiceId" parameterType="java.lang.Integer">
        UPDATE insu_voice_record
        SET IS_QUERIED = 1
        WHERE insu_voice_id = #{insuVoiceId}
    </update>

    <resultMap id="InsuVoiceRecordResultMap" type="vip.xiaonuo.inspection.modular.voiceRecord.entity.InsuVoiceRecord">
        <id property="id" column="ID"/>
        <result property="insuVoiceId" column="INSU_VOICE_ID"/>
        <!-- 依次配置其他属性与数据库列的映射关系 -->
    </resultMap>

    <delete id="deleteByIds">
        DELETE FROM insu_voice_record
        WHERE ID IN
        <foreach collection="voiceIds" item="voiceId" open="(" separator="," close=")">
            #{voiceId}
        </foreach>
    </delete>
</mapper>